.flex {
  display: flex;
}

.flex > *:nth-child(even) {
  background-color: #ccc;
}

.row-desktop {
  flex-direction: column;
}

.column {
  flex-direction: column;
}

.column > *:nth-child(odd) {
  background-color: #eee;
}

textarea {
  width: 95%;
  height: 90vh;
}

img {
  width: 70px;
}

h2 {
  color: #273ae7;
}

@media only screen and (min-width: 700px) {
  .row-desktop {
    flex-direction: row;
  }

  .half-width-desktop {
    width: 50%;
  }
}
