.flex {
  display: flex;
}

.flex > *:nth-child(even) {
  background-color: #ccc;
}

.column {
  flex-direction: column;
}

.column > *:nth-child(odd) {
  background-color: #eee;
}

.half-width {
  width: 50%;
}

textarea {
  width: 95%;
  height: 90vh;
}

img {
  width: 70px;
}
